<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Using the API</a>
    <ul class="dropdown-menu">
      <li><a href="ipa-server.html">API Definition</a></li>
      <li><a href="access.html">Gaining Access</a></li>
      <li><a href="fetching.html">Finding / Retrieving information about the patient</a></li>
      <li><a href="synchronization.html">Synchronization</a></li>
      <li><a href="internationalization.html">Internationalization</a></li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support</a>
    <ul class="dropdown-menu">
      <li><a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a></li>
      <li><a target="_blank" href="http://hl7.org/fhirpath">FHIRPath Spec <img src="external.png" style="text-align: baseline"/></a></li>
      <li><a target="_blank" href="http://cql.hl7.org">CQL Spec <img src="external.png" style="text-align: baseline"/></a></li>
      <li><a href="downloads.html">Downloads</a></li>
    </ul>
  </li>
</ul>      
